@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700|Quicksand:300,400,500,700|Inconsolata:400,700');

//Color palette
$gray: rgb(36, 39, 43);
$red: rgb(204, 61, 61);
$green: rgb(30, 153, 50);
$blue: rgb(61, 108, 204);
$yellow: rgb(229, 208, 45);
$orange: rgb(229, 137, 45);
$purple: rgb(120, 61, 204);

//Fonts
$fontMain: 'Nunito', sans-serif;
$fontAlt: 'Quicksand', sans-serif;
$fontTiny: 'Inconsolata', monospace;
$fontSize: 16px;

/*

    Styling for DOM elements

*/

*
{
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: $fontMain;
    font-size: $fontSize;
    line-height: $fontSize;
    font-weight: 400;
    color: $gray;
}

a
{
    color: $blue;
    text-decoration: none;

    &:hover
    {
        color: saturate($blue, 50%);
    }
}

p
{
    margin: 0;
    white-space: pre-wrap;
}

input[type='text'], input[type='email'], input[type='password'], input[type='number'], select
{
    width: 100%;
    font-family: $fontMain;
    font-size: $fontSize;
    line-height: $fontSize;
    min-width: 0;
    color: $gray;
    border: 1px solid lighten($blue, 32%);
    border-radius: 3px;
    font-size: 16px;
    padding: 4px;
}

input[type='button'], input[type='submit'], button
{
    font-family: $fontMain;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    text-shadow: 0px 1px darken($gray, 25%);
    padding: 6px 12px;
    background: linear-gradient(to top, $gray 0%, lighten($gray, 10%) 90%);
    border: 1px solid darken($gray, 10%);
    color: white;
    border-radius: 3px;

    &:hover
    {
        background: linear-gradient(to top, desaturate($gray, 5%) 0%, saturate($gray, 5%) 90%);
        border: 1px solid darken($gray, 15%);
    }
}

.button.blue
{
    text-shadow: 0px 1px darken($blue, 25%);
    background: linear-gradient(to top, $blue 0%, lighten($blue, 10%) 90%);
    border: 1px solid darken($blue, 10%);

    &:hover
    {
        background: linear-gradient(to top, desaturate($blue, 5%) 0%, saturate($blue, 5%) 90%);
        border: 1px solid darken($blue, 15%);
    }
}

.button.blue

input[type='submit'], .button.green
{
    text-shadow: 0px 1px darken($green, 25%);
    background: linear-gradient(to top, $green 0%, lighten($green, 10%) 90%);
    border: 1px solid darken($green, 10%);

    &:hover
    {
        background: linear-gradient(to top, desaturate($green, 5%) 0%, saturate($green, 5%) 90%);
        border: 1px solid darken($green, 15%);
    }
}

.button.red
{
    text-shadow: 0px 1px darken($red, 25%);
    background: linear-gradient(to top, $red 0%, lighten($red, 10%) 90%);
    border: 1px solid darken($red, 10%);

    &:hover
    {
        background: linear-gradient(to top, desaturate($red, 5%) 0%, saturate($red, 5%) 90%);
        border: 1px solid darken($red, 15%);
    }
}

.button.yellow
{
    color: black;
    text-shadow: none;
    background: linear-gradient(to top, $yellow 0%, lighten($yellow, 10%) 90%);
    border: 1px solid darken($yellow, 10%);

    &:hover
    {
        background: linear-gradient(to top, desaturate($yellow, 5%) 0%, saturate($yellow, 5%) 90%);
        border: 1px solid darken($yellow, 15%);
    }
}

.button.orange
{
    text-shadow: 0px 1px darken($orange, 25%);
    background: linear-gradient(to top, $orange 0%, lighten($orange, 10%) 90%);
    border: 1px solid darken($orange, 10%);

    &:hover
    {
        background: linear-gradient(to top, desaturate($orange, 5%) 0%, saturate($orange, 5%) 90%);
        border: 1px solid darken($orange, 15%);
    }
}

.button.purple
{
    text-shadow: 0px 1px darken($purple, 25%);
    background: linear-gradient(to top, $purple 0%, lighten($purple, 10%) 90%);
    border: 1px solid darken($purple, 10%);

    &:hover
    {
        background: linear-gradient(to top, desaturate($purple, 5%) 0%, saturate($purple, 5%) 90%);
        border: 1px solid darken($purple, 15%);
    }
}

#input-group
{
    display: flex;

    input:first-child, select:first-child
    {
        border-right: none;
    }

    input:last-child, select:last-child
    {
        border-left: none;
    }
}

//All non-label elements in between
#input-group > *:not(#input-group-label):not(:first-child):not(:last-child)
{
    border-left: none;
    border-right: none;
    border-radius: 0;
}

//All labels in between
#input-group-label:not(:first-child):not(:last-child)
{
    border-radius: 0;
}

//First element
#input-group > *:first-child
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

//Last element
#input-group > *:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#input-group-label
{
    font-family: $fontMain;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    padding: 6px;
    color: $blue;
    background: lighten($blue, 42%);
    border: 1px solid lighten($blue, 32%);
    border-radius: 3px;
}

/*

    Styling for default elements

*/

#nav
{
    display: flex;
    align-items: center;
    padding: 32px 20vw;
    font-family: $fontAlt;
}

#nav-logo
{
    display: flex;
    align-items: center;
    font-size: $fontSize * 1.5;
    line-height: $fontSize * 1.5;
    font-weight: 300;
}

#nav-search
{
    width: 250px;
    overflow: hidden;
    display: flex;
    margin-left: auto;

    > form
    {
        flex-grow: 1;
    }
}

#nav-menu
{
    display: flex;
    align-items: center;
    font-weight: 700;

    > span
    {
        margin-left: 32px;
    }
}

#content
{
    flex-grow: 1;
    padding: 24px 20vw;
}

#footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 20vw;

    > a
    {
        color: lighten($gray, 50%);

        &:hover
        {
            color: darken($gray, 50%);
        }
    }
}

/*

    Styling for pages

*/

#blog
{
    display: flex;
}

#blog-posts
{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-x: hidden;

    #blog-post:not(:last-of-type)
    {
        margin-bottom: 32px;
    }
}

#blog-sidepanel
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 1*33%;
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid lighten($gray, 70%);

    > *:not(:last-child)
    {
        margin-bottom: 8px;
    }
}

#blog-post
{
    display: flex;
    flex-direction: column;
    min-height: 64px;
    border: 1px solid lighten($gray, 70%);
    border-radius: 3px;
}

#blog-post-header
{
    border-bottom: 1px solid lighten($gray, 70%);
    display: flex;
    align-items: flex-start;
    padding: 16px;
    line-height: 24px;
}

#blog-post-header-title
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $fontSize * 1.5;
}

#blog-post-header-author
{
    display: flex;
    align-items: center;
    font-size: $fontSize;
    margin-left: auto;

    > img
    {
        width: 26px;
        height: 26px;
        border-radius: 2px;
        image-rendering: pixelated;
    }

    > a
    {
        margin-right: 8px;
    }
}

#blog-post-text
{
    padding: 16px;
    line-height: $fontSize * 1.5;
}

#blog-post-footer
{
    display: flex;
    align-items: flex-end;
    padding: 16px;
}

#blog-post-footer-date
{
    font-size: 14px;
    color: lighten($gray, 40%);
}

#blog-post-footer-tags
{
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    > #tag
    {
        margin-left: 4px;
    }
}

/*

    Styling for standalone components

*/

#tag
{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-family: $fontTiny;
    line-height: 12px;
    border-radius: 3px;
    padding: 4px 8px;
    background: $blue;
    color: white;

    &:hover
    {
        background: saturate($blue, 50%);
    }

    > i
    {
        color: white;
        font-size: 6px;
    }

    > a
    {
        margin-left: 4px;
        color: inherit;
    }
}
